<%- include('header.ejs'); %>

<div class="container">
    <div class="row marginTop">
      <div class="col s8 offset-s2">
        <a href="/" class="btn-flat waves-effect">
          <i class="material-icons left">keyboard_backspace</i> Back to
          welcome page
        </a>
        <div class="col s12">
          <h4 class="heading">Register</h4>
          <p class="grey-text text-darken-1">
            Already have an account? <a class="teal-text text-lighten-1" href="/login">Log in</a>
          </p>
        </div>
        <form action="/register" method="POST">

          <div class="input-field col s12">
            <input
              autoComplete="off"
              id="username"
              name="username"
              type="email"
            />
            <label htmlFor="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input
              id="password"
              name="password"
              type="password"
            />
            <label htmlFor="password">Password</label>
          </div>
          <div class="input-field col s12">
            <input
              id="confirmPass"
              name="confirmPass"
              type="password"
            />
            <label htmlFor="confirmPass">Confirm Password</label>
          </div>
          <div class="col s12" >
            <button

              type="submit"
              class="btn btn-large waves-effect waves-light hoverable submitBtn"
            >
              Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="or-container col s4 offset-s2">
        <div class="line-separator"></div>
        <div class="or-label">or</div>
        <div class="line-separator"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s4 offset-s2 googleDiv"> <a class="waves-effect waves-light btn-large social google" href="/auth/google">
        <i class="fa fa-google"></i> Sign in with google</a></div>
  </div>
    </div>
  </div>

<%- include('footer.ejs'); %>