<%- include('header.ejs'); %>

<div class="outerContainer">
<div class="innerContainer">
    <h3>Welcome to the Login/Auth Project</h3>
        <div class="row">
           <div class="col s6 btnContainer">
           <a
               href="/login"
               class="btn btn-large waves-effect blue lighten-5 black-text hoverable leftBtn submitBtn"
           >Log In </a>
           </div>
           <div class="col s6 btnContainer">
           <a
               href="/register"
               class="btn btn-large waves-effect waves-light hoverable rightBtn submitBtn"
           >Register </a>
           </div>
       </div>
</div>
</div>

<%- include('footer.ejs'); %>
